/* ========================================
   QUANTY - CSS MODULAR
   ======================================== */

/* Fuentes */
@import url('./vendor/fonts.css');

/* Bloques base */
@import url('./blocks/page.css');
@import url('./blocks/card.css');
@import url('./blocks/header.css');
@import url('./blocks/footer.css');
@import url('./blocks/quantum.css');
@import url('./blocks/button.css');
@import url('./blocks/popup.css');
@import url('./blocks/investments.css');